.container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.demo {
    width: 48%;
    height: 100%;
    float: left;
    padding: 0 20px;
    border: 1px dashed #fff;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
}
